/* Import Google Fonts at the top */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #181818;  /* Dark background without greenish tint */
  color: #ffffff;  /* White font color for better contrast */
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

#root, #__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;  /* Ensure text remains white */
}

/* Tailwind Reset Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
